################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/digital-nomads/FileContentIndex/3ef84186-0a6e-4945-ae34-edd487141a36.vsidx
/.vs/digital-nomads/FileContentIndex/2b6855ad-2e39-43ff-b253-b9fd5eaeff37.vsidx
/.vs/digital-nomads/FileContentIndex/5f7fb030-0a09-4f71-b93b-0c9eef76addd.vsidx
/.vs/digital-nomads/FileContentIndex/58e9cf7e-aab3-4d98-9616-431113c8e4b1.vsidx
/.vs/digital-nomads/FileContentIndex/6d350ad1-c2ff-4784-880c-268f766a2cc1.vsidx
/.vs/digital-nomads/FileContentIndex/7996e509-9364-4c3c-bca5-8532dcf41ff6.vsidx
/.vs/digital-nomads/FileContentIndex/f93c9ca6-add6-4e04-8afb-3e93db36a87c.vsidx
/.vs/digital-nomads/FileContentIndex/8172d8c0-107e-447d-a3bd-0987c39c8d78.vsidx
/.vs/digital-nomads/FileContentIndex/96e0f6e4-7ffe-41e4-b0d4-6be4db1e848c.vsidx
/.vs/digital-nomads/FileContentIndex/d4a74190-721b-4269-a0bc-dd6c738da3fd.vsidx
/.vs/digital-nomads/FileContentIndex/0eb39a70-c629-4af9-9129-e2842d9c5271.vsidx
/.vs/digital-nomads/FileContentIndex/0575a522-6af2-4f34-9bb6-cef57661af93.vsidx
/.vs/digital-nomads/FileContentIndex/1ac151bb-b9de-42b7-a421-2b2cb2f9adcb.vsidx
/.vs/digital-nomads/FileContentIndex
