################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/digital-nomads/FileContentIndex/3ef84186-0a6e-4945-ae34-edd487141a36.vsidx
